APP_NAME="Elephant House AR Game"
APP_ENV=production
APP_KEY=base64:ekLyZjg42eqEKw2jymhalp2GzRxia10qDSzpw0Gt8eA=
APP_DEBUG=false
APP_URL=https://ehwonderonline.com/arwonder

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=cpaneluser_elephanthouse
DB_USERNAME=cpaneluser_gameuser
DB_PASSWORD=YourDatabasePasswordHere

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

CORS_ALLOWED_ORIGINS=*
